@using WebAppAspNetMvcImportXml.Models
@model ImportXmlBookViewModel

<h3>Импорт книг</h3>

@using (Html.BeginForm("Import", "ImportXmlBooks", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()

    @Html.ActionLink("Пример файла", "GetExample", null, new { @class = "btn btn-info" })
    <input type="submit" value="Сохранить" class="btn btn-primary" />
}
